* {
    margin: 0;
}

body {
    background-color: #f0f2f5;
}

.navbar {
    background-color: #2551a8;
    height: 75px;
    line-height: 63px;
    padding-left: 15px;
}

.navbar li {
    display: inline;
    color: white;
    font-size: 40px;
    padding-right: 25px;
    vertical-align: middle;
}

.container {
    margin-top: 150px;
}

.logos {
    margin-left: 150px;
    padding-top: 80px;
    vertical-align: middle;
    float: left;

    position: absolute;
    top: 45%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.logos img {
    width: 42vw;
}

.login {
    float: left;
    margin-left: 300px;

    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.login form {
    padding-top: 2.2vh;
    padding-bottom: 1.2vh;
    width: 20.8vw;
    height: 32.4vh;
    border: solid #2551a8 3px;
    text-align: center;
}

.login label {
    font-size: 2.1vw;
}

.login form label {
    font-size: 1.31vw;
}

.login form input {
    width: 13vw;
    height: 5.4vh;
    border-color:#2551a8;
    border-radius: 15px; 
    text-align: center;
    margin-bottom: 2.2vh;
}

.login button {
    font-size: 25px;
    width: 10.45vw;
    margin-top: 5px;
    height: 50px;
}

#submit-button {
    color: white;
    background-color: #2551a8;
    border: none;
}

#login-toggle-button {
    border-color: #2551a8;
    color: #2551a8;
}

#errorMessage {
    margin-top: .5vh;
    color: #ff0000;
}

footer {
    margin-top: 83.8vh;
    bottom:0px;
    height:60px;
    width:100%;
    background-color: #2551a8;
    color: white;
    padding-top: 15px;
    padding-left: 0px;
}

footer * {
    margin-left: 5px;
}

footer img {
    width: 40px;
    margin-left: 30px;
}

footer a, footer a:visited, footer a:hover, footer a:active{
    color: white;
}
