* {
    margin: 0;
}

body {
    background-color: #f0f2f5;
}

.navbar {
    background-color: #384593;
    height: 8.1vh;
    line-height: 6.8vh;
    padding-left: 0.79vw;
}

.navbar li {
    display: inline;
    color: white;
    font-size: 2.1vw;
    padding-right: 1.31vw;
    vertical-align: middle;
}

.container {
    margin-top: 16.2vh;
}

.logos {
    margin-left: 7.89vw;
    padding-top: 8.64vh;
    vertical-align: middle;
    float: left;
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
}

.logos img {
    width: 42vw;
}

.login {
    float: left;
    margin-left: 15.8vw;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
}

.login form {
    padding-top: 2.2vh;
    padding-bottom: 1.2vh;
    width: 20.8vw;
    height: 32.4vh;
    border: solid #384593 3px;
    text-align: center;
}

.login label {
    font-size: 2.1vw;
}

.login form label {
    font-size: 1.31vw;
}

.login form input {
    width: 13vw;
    height: 5.4vh;
    border-color:#384593;
    border-radius: 15px; 
    text-align: center;
    margin-bottom: 2.2vh;
}

.login button {
    font-size: 25px;
    width: 10.45vw;
    margin-top: 0.54vh;
    height: 5.4vh;
}

#submit-button {
    color: white;
    background-color: #384593;
    border: none;
}

#login-toggle-button {
    border-color: #384593;
    color: #384593;
}

#errorMessage {
    margin-top: .5vh;
    color: #ff0000;
}

footer {
    margin-top: 83.8vh;
    bottom: 0;
    height: 6.48vh;
    width: 100%;
    background-color: #384593;
    color: white;
    padding-top: 1.62vh;
    padding-left: 0;
}

footer * {
    margin-left: 0.26vw;
}

footer img {
    width: 2.1vw;
    margin-left: 1.58vw;
}

footer a, footer a:visited, footer a:hover, footer a:active{
    color: white;
}
