* {
    margin: 0;
    scroll-behavior: smooth;
}

main {
    background: url(../resources/background.jpg) no-repeat bottom;
    background-size: cover;
    padding-top: 7vh;
    padding-bottom: 26vh;
}

.navbar {
    position: fixed; 
    width: 100%;
    background-color: #384593;
    height: 7.5vh;
    line-height: 2vh;
    padding-left: 1vw;
    padding-top: 2vh;
    padding-bottom: 0vh;
}

.navbar li {
    display: inline;
    color: white;
    font-size: 2.6vw;
    padding-right: 1.8vw;
    vertical-align: middle;
}

.intro-paragraph {
    margin-top: 3vh;
    border: none;
    border-radius: 5vh;
    background: #384593;
    padding: 2vw;
    line-height: 2vh;
    color: #dfe1e3;
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1vw;
}

.destination-logos {
    margin-top: 5vh;
    text-align: center;
}

.destination-logos * {
    height: 25vh;
}

.destination-logos *:hover {
    cursor: pointer;
    transition: .5s;
    opacity: 0.9;
    transform: scale(1.5);
}

.destination-logos *:active {
    opacity: 0.5;
}

.destination-logos .html {
    margin-right: 1vw;
}

.html:hover {
    background: orange;
}

.css:hover {
    background: #55beff;
}

.javascript:hover {
    background: yellow;
}

.learn-section {
    display: flex;
    justify-content: center;
    background-color: #250f4e;
}

.learn-section .card {
    background: #a9a9a91d;
    margin: 0.2vw;
    margin-bottom: 1vh;
    line-height: 2.4vh;
    position: relative;
    width: 100vw;
    height: 18vh;
    padding: 1vw;
    font-family: Arial, Helvetica, sans-serif;
    overflow: auto;
    margin-top: 1vh;   
    color: #dfe1e3;
    font-size: 1vw;
   
    
    
}
::-webkit-scrollbar{
    display: none;
}




.learn-section .card button {
    position: static;
    bottom: 3vw;
    padding-left: 0.9vw;
    padding-right: 0.9vw;
    background-color: #384593;
    color: white;
    border: none;
    height: 8vh;
    border-radius: 4vh;
    cursor: pointer;
    font-weight: bold;
    font-size: 0.8vw;
    margin-left: 8vw;
    
}


footer {
    margin-top: 0vh;
    min-height: 60px;
    bottom:0vh;
    width:100%;
    background-color: #384593;
    color: white;
    padding-top: 1vh;
    padding-left: 0vw;
    
   
}

footer * {
    margin-left: 0.3vw;
    margin-bottom: 0vh;
   
}

footer img {
    width: 2vw;
    margin-left: 1.5vw;
}

footer a, footer a:visited, footer a:hover, footer a:active{
    color: white;
}
